<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <form action="/convert" method="POST">
      Converting from <input type="text" name="from_currency">
      {% if message1 %}
      <span class="error">{{ message1 }}</span>
      {% endif %}
      <br><br>
      Converting to <input type="text" name="to_currency">
      {% if message2 %}
      <span class="error">{{ message2 }}</span>
      {% endif %}
      <br><br>
      Amount: <input type="text" name="amount">
      {% if message3 %}
      <span class="error">{{ message3 }}</span>
      {% endif %}
      <br><br>
      <button class="btn1">Convert</button>
    </form>
  </body>
</html>
