<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
  <style>
    .error{
        display:none;
    }
  </style>
  </head>
  <body>
    <form action="/convert" method="POST">
      Converting from <input type="text" name="from_currency">
      <br><br>
      Converting to <input type="text" name="to_currency">
      <br><br>
      Amount: <input type="text" name="amount">
      <br><br>
      <button class="btn1">Convert</button>
    </form>
    <form action="/">
        <div id="error1" class="error">{{ message1 }}</div>
        <div id="error2" class="error">{{ message2 }}</div>
        <div id="error3" class="error">{{ message3 }}</div>
    </form>
  </body>
</html>
